<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="text-center">ข้อมูลสมัครสมาชิก</h1>
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <img id="imgmem" width="50%" alt="" class="img-thumbnail" src="{{imgMemOld}}">
                    </div>
                    
                        <div class="form-group mt-2">
                            <label for="memId">รหัสสมาชิก : <font color="blue">{{memberIdOld}}</font> </label>
                        </div>
                        <div class="form-group mt-2">
                            <label for="email">e-mail : <font color="blue">{{userEmail}}</font></label>
                        </div>
                        
                        <div class="form-group mt-2">
                            <label for="fname">ชื่อ : <font color="blue">{{fnameOld}}</font></label>
                        </div>
                        <div class="form-group mt-2">
                            <label for="lname">นามสกุล : <font color="blue">{{lnameOld}}</font></label>
                        </div>
                        <div class="form-group mt-2">
                            <label for="sex">เพศ : <font color="blue">{{sexOld}}</font></label>
                        </div>

                        <div class="form-group mt-2">
                            <label for="phoneNumber">เบอร์มือถือ : <font color="blue">{{phoneNumberOld}}</font></label>
                        </div>
                        
                        <div class="form-group mt-2">
                            <label for="address">ที่อยู่ : <font color="blue">{{addressOld}}</font></label>
                        </div>
                        <div class="form-group mt-2">
                            <label for="positionId">ตำแหน่งงาน : <font color="blue">{{positionOld}}</font></label>
                        </div>
                        
                        <div class="form-group text-center">
                            <a href="/" class="btn btn-secondary mt-2 me-2">กลับหน้าหลัก</a>
                            <a href="/update-member/{{_idOld}}" class="btn btn-primary mt-2 me-2">แก้ไขข้อมูล</a>
                        </div>
                        
                        <br>

                </div>
            </div>
        </div>
    </div>
</div>

